{% extends "root.twig" %}

{% block body %}

<div class="container mx-auto">

    <div id="BusinessDetails" data-d="{{ data|json_encode }}" data-route="{{ path_for('business.form.save') }}"></div>

</div>



{# <form data-name="Tablebusinessdetail">
    <div class="form-group d-flex" hidden>
        <label class="col-form-label col-md-3 text-right" for="BusinessId">Business Id</label>
        <input class="form-control" type="number" disabled name="BusinessId" data-type="integer" required="required" />
    </div>
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="BusinessName">Business Name</label>
        <input type="input" class="form-control" name="BusinessName" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="ContactName">Contact Name</label>
        <input type="input" class="form-control" name="ContactName" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Phone1">Phone1</label>
        <input type="input" class="form-control" name="Phone1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Phone2">Phone2</label>
        <input type="input" class="form-control" name="Phone2" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Mobile1">Mobile1</label>
        <input type="input" class="form-control" name="Mobile1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Fax1">Fax1</label>
        <input type="input" class="form-control" name="Fax1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="AfterHours1">After Hours1</label>
        <input type="input" class="form-control" name="AfterHours1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="EmailAddress1">Email Address1</label>
        <input type="input" class="form-control" name="EmailAddress1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Abn1">Abn1</label>
        <input type="input" class="form-control" name="Abn1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Logo">Logo</label>
        <input type="input" class="form-control" name="Logo" data-type="longvarbinary"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Note1">Note1</label>
        <input type="input" class="form-control" name="Note1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Note2">Note2</label>
        <input type="input" class="form-control" name="Note2" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Address1">Address1</label>
        <input type="input" class="form-control" name="Address1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="City1">City1</label>
        <input type="input" class="form-control" name="City1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="State1">State1</label>
        <input type="input" class="form-control" name="State1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="PostCode1">Post Code1</label>
        <input type="input" class="form-control" name="PostCode1" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="Address2">Address2</label>
        <input type="input" class="form-control" name="Address2" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="City2">City2</label>
        <input type="input" class="form-control" name="City2" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="State2">State2</label>
        <input type="input" class="form-control" name="State2" data-type="varchar"  >
    </div> 
    <div class="form-group d-flex" >
        <label class="col-form-label col-md-3 text-right" for="PostCode2">Post Code2</label>
        <input type="input" class="form-control" name="PostCode2" data-type="varchar"  >
    </div>
</form> #}

{% endblock %}

{% block scripts %}

<script src="{{ base_url() }}/dist/Business.bundle.js?q={{random()}}"></script>

{% endblock %}