{% extends "root.twig" %}

{% block body %}
<div class="container mx-auto text-center">
    
    <div class="flex flex-col mx-auto">
        <div class="mb-2 mt-2">
            <a class="btn btn-secondary btn-wide">Expenses</a>
        </div>
        <div class="mb-2 mt-2">
            <a class="btn btn-secondary btn-wide">Sales</a>
        </div>
        <div class="mb-2 mt-2">
            <a href='{{ path_for('reports.exportby') }}?q=month' class="btn btn-secondary btn-wide">Export to Excel By Month</a>
        </div>
        <div class="mb-2 mt-2">
            <a href='{{ path_for('reports.exportby') }}?q=year' class="btn btn-secondary btn-wide">Export to Excel By Year</a>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}