propel:
  database:
      connections:
          default:
              adapter: sqlsrv
              classname: Propel\Runtime\Connection\ConnectionWrapper
              dsn: 
              user: 
              password: 
