<form data-name="Tabletransactiontype"><div class="form-group d-flex" hidden>
    <label class="col-form-label col-md-3 text-right" for="TypeCode">Type Code</label>
    <input class="form-control" type="number" disabled name="TypeCode" data-type="integer" required="required" />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="TypeDescription">Type Description</label>
    <input type="input" class="form-control" name="TypeDescription" data-type="varchar"  >
</div> </form>