<form data-name="Tabledefaultsetting"><div class="form-group d-flex" hidden>
    <label class="col-form-label col-md-3 text-right" for="Id">Id</label>
    <input class="form-control" type="number" disabled name="Id" data-type="integer" required="required" />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="BusinessNo">Business No</label>
    <input class="form-control" type="number"  name="BusinessNo" data-type="integer"  />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="DateMonthStart">Date Month Start</label>
    <input type="input" class="form-control" name="DateMonthStart" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="DateMonthEnd">Date Month End</label>
    <input type="input" class="form-control" name="DateMonthEnd" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="DateYearStart">Date Year Start</label>
    <input type="input" class="form-control" name="DateYearStart" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="DateYearEnd">Date Year End</label>
    <input type="input" class="form-control" name="DateYearEnd" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="LabourRate">Labour Rate</label>
    <textarea class="form-control" type="number"  step="0.001"  name="LabourRate" data-type="decimal"   />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="TaxPercent">Tax Percent</label>
    <textarea class="form-control" type="number"  step="0.001"  name="TaxPercent" data-type="float"   />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="MarkupPercent">Markup Percent</label>
    <textarea class="form-control" type="number"  step="0.001"  name="MarkupPercent" data-type="float"   />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="SalesExpense">Sales Expense</label>
    <input class="form-control" type="number"  name="SalesExpense" data-type="integer"  />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="PurchaseExpense">Purchase Expense</label>
    <input class="form-control" type="number"  name="PurchaseExpense" data-type="integer"  />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="QuoteExpense">Quote Expense</label>
    <input class="form-control" type="number"  name="QuoteExpense" data-type="integer"  />
</div></form>