<form data-name="Tabletaxcode"><div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="TaxPercent">Tax Percent</label>
    <textarea class="form-control" type="number"  step="0.001"  name="TaxPercent" data-type="float" required="required"  />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="TaxCode">Tax Code</label>
    <input type="input" class="form-control" name="TaxCode" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="TaxDescription">Tax Description</label>
    <input type="input" class="form-control" name="TaxDescription" data-type="varchar"  >
</div> </form>