<form data-name="Tableexpensegroup"><div class="form-group d-flex" hidden>
    <label class="col-form-label col-md-3 text-right" for="GroupId">Group Id</label>
    <input class="form-control" type="number" disabled name="GroupId" data-type="integer" required="required" />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="GroupDescription">Group Description</label>
    <input type="input" class="form-control" name="GroupDescription" data-type="varchar"  >
</div> </form>