<form data-name="Tablecompanydetail"><div class="form-group d-flex" hidden>
    <label class="col-form-label col-md-3 text-right" for="CompanyId">Company Id</label>
    <input class="form-control" type="number" disabled name="CompanyId" data-type="integer" required="required" />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="CompanyName">Company Name</label>
    <input type="input" class="form-control" name="CompanyName" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="ContactName1">Contact Name1</label>
    <input type="input" class="form-control" name="ContactName1" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="CompanyType">Company Type</label>
    <input class="form-control" type="number"  name="CompanyType" data-type="integer"  />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Phone3">Phone3</label>
    <input type="input" class="form-control" name="Phone3" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Phone4">Phone4</label>
    <input type="input" class="form-control" name="Phone4" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Mobile2">Mobile2</label>
    <input type="input" class="form-control" name="Mobile2" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Fax2">Fax2</label>
    <input type="input" class="form-control" name="Fax2" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="AfterHours2">After Hours2</label>
    <input type="input" class="form-control" name="AfterHours2" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="EmailAddress2">Email Address2</label>
    <input type="input" class="form-control" name="EmailAddress2" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="BatchNo">Batch No</label>
    <input type="input" class="form-control" name="BatchNo" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Abn2">Abn2</label>
    <input type="input" class="form-control" name="Abn2" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="AccountType">Account Type</label>
    <input class="form-control" type="number"  name="AccountType" data-type="integer"  />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Address3">Address3</label>
    <input type="input" class="form-control" name="Address3" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="City3">City3</label>
    <input type="input" class="form-control" name="City3" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="State3">State3</label>
    <input type="input" class="form-control" name="State3" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="PostCode3">Post Code3</label>
    <input type="input" class="form-control" name="PostCode3" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Address4">Address4</label>
    <input type="input" class="form-control" name="Address4" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="City4">City4</label>
    <input type="input" class="form-control" name="City4" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="State4">State4</label>
    <input type="input" class="form-control" name="State4" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="PostCode4">Post Code4</label>
    <input type="input" class="form-control" name="PostCode4" data-type="varchar"  >
</div> </form>