<form data-name="Tabletransactionitems"><div class="form-group d-flex" hidden>
    <label class="col-form-label col-md-3 text-right" for="Id">Id</label>
    <input class="form-control" type="number" disabled name="Id" data-type="integer" required="required" />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="TitleItem">Title Item</label>
    <input class="form-control" type="number"  name="TitleItem" data-type="integer"  />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Item">Item</label>
    <input class="form-control" type="number"  name="Item" data-type="integer"  />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Description">Description</label>
    <input type="input" class="form-control" name="Description" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Tax">Tax</label>
    <textarea class="form-control" type="number"  step="0.001"  name="Tax" data-type="float"   />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="GstCollected">Gst Collected</label>
    <textarea class="form-control" type="number"  step="0.001"  name="GstCollected" data-type="decimal"   />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="GstPaid">Gst Paid</label>
    <textarea class="form-control" type="number"  step="0.001"  name="GstPaid" data-type="decimal"   />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Debit">Debit</label>
    <textarea class="form-control" type="number"  step="0.001"  name="Debit" data-type="decimal"   />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Credit">Credit</label>
    <textarea class="form-control" type="number"  step="0.001"  name="Credit" data-type="decimal"   />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="Expense">Expense</label>
    <input class="form-control" type="number"  name="Expense" data-type="integer"  />
</div></form>