<form data-name="Tablecredittype"><div class="form-group d-flex" hidden>
    <label class="col-form-label col-md-3 text-right" for="AccountType">Account Type</label>
    <input class="form-control" type="number" disabled name="AccountType" data-type="integer" required="required" />
</div>
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="AccountDescription">Account Description</label>
    <input type="input" class="form-control" name="AccountDescription" data-type="varchar"  >
</div> 
<div class="form-group d-flex" >
    <label class="col-form-label col-md-3 text-right" for="AccountDays">Account Days</label>
    <input class="form-control" type="number"  name="AccountDays" data-type="integer"  />
</div></form>